.header {
  background-color: $color-light;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
  &__wrapper {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 53px;
  }

  &__search {
    position: relative;
    width: 100%;
    &-input {
      max-width: 580px;
      width: 100%;
      padding: 16px 20px;
      border: 1px solid rgba(51, 51, 51, 0.2);
      transition: color 0.3s ease-in-out, border 0.3s ease-in-out;

      &:hover {
        &::placeholder {
          color: $accent-color;
        }
      }

      &:focus {
        outline: none;
        border: 1px solid $accent-color;
      }

      &-autocomplete {
        position: absolute;
        border: 1px solid $accent-color;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        max-width: 580px;
        width: 100%;
        top: 100%;
        left: 0;
        right: 0;

        &__item {
          max-width: 580px;
          width: 100%;
          padding: 16px 20px;
          cursor: pointer;
          background-color: $gray-suit-color;
          border-bottom: 1px solid #d4d4d4;

          &:hover {
            background-color: $accent-color;
          }

          &-active {
            color: $color-light;
            background-color: $accent-color;

          }
        }
      }
    }
  }
}